.footer {
    margin-top: 12rem;
    padding: 2rem 0 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color_text;
    .footer_contacts {
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            color: $color_text;
        }
    }
    .footer_links {
        display: flex;
        gap: 1rem;
        a {
            @include svg_link;
        }
    }
}