:root {
    --main-font: 'Poppins', sans-serif;

    --main-bg-color: #F3F0F0;
    --first-accent-color: #750C05;
    --sec-accent-color: #FAB608;
}

@media screen and (max-width: 1280px) {
    .header__nav {
        margin-left: 5%;
    }
    .header__list {
        gap: 10%;
    }
    .item__info {
        width: 35%;
    }
}

@media screen and (max-width: 1140px) {
    .header {
        justify-content: flex-start;
    }
    .header::before {
        content: '';
        width: calc(100% - 228px);
        height: 100%;
    }
    .header__nav {
        position: absolute;
        right: -1000px;
        background-color: white;
        width: calc(100% - 290px);;
        padding: 25px 25px;
        z-index: 5;
        transition: all .2s;
        display: none;
    }
    .header__nav_active {
        position: absolute;
        right: -25px;
        border-radius: 35px 0;
    }
    .header-nav__close {
        display: block;
        position: absolute;
        z-index: 7;
        left: -5px;
        top: -5px;
        cursor: pointer;
    }
    .header-nav__close:active {
        transform: scale(.95);
    }
    .close_1 {
        width: 15px;
        height: 2px;
        background-color: var(--sec-accent-color);
        transform: rotate(45deg) translateY(1px);
    }
    .close_2 {
        width: 15px;
        height: 2px;
        background-color: var(--sec-accent-color);
        transform: rotate(-45deg) translateY(-1px);
    }
    .header__search {
        margin-left: 13%;
    }
    /* Header Burger */ 
    .header__burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 38px;
        height: 30px;
        position: relative;
        margin-left: auto;
        cursor: pointer;
    }
    .burger_1 {
        height: 1px;
        width: 100%;
        background-color: #fff;
        position: relative;
        transition: all .2s ease-in-out;
    }
    .burger_2 {
        height: 1px;
        width: 66%;
        background-color: #fff;
        position: relative;
        transition: all .2s ease-in;
    }
    .burger_3 {
        height: 1px;
        width: 33%;
        background-color: #fff;
        position: relative;
        transition: all .2s ease-out;
    }
    .burger__hide {
        transform: translateX(250px);
        transition: all .2s;
    }
    /* Item Info */ 
    .item__info {
        width: 33%;
    }
    .item__prices {
        flex-direction: column;
        gap: 0;
        align-items: start;    
        margin-bottom: 15px;
    }
    .item__add-btn {
        padding: 18px 40px;
    }
    /* Social Aside */ 
    .social {
        top: auto;
    }
    .social__links {
        gap: 20%;
    }
    /* New Arrivals Slider Item */
    .new-arr__item {
        gap: 25px;
    }
}

@media screen and (max-width: 830px) {
    .header {
        padding: 2em 3em;
    }
    .header__logo_hide {
        display: none;      
    }
    .header::before, .header__cart {
        display: none;
    }
    .header__search {
        margin-left: auto;
        padding: 0 15px;
    }
    .header__list {
        flex-wrap: wrap;
        line-height: 2;
        width: 90%;
    }
    .search__input {
        width: 0;
        background-color: transparent;
        border-bottom: 2px solid var(--first-accent-color);
        border-radius: 0;
        transition: all .2s;
        right: 50px;
        color: #000;
        padding: 0;
        top: 10px;
    }
    .search__input_active {
        width: 250px;       
        transition: all .2s;
    }
    .search__button {
        background: url(../images/icons/search_black.svg);
        width: 28px;
        height: 24px;
    }
    .header__nav {
        top: 100px;
    }
    .header__nav_active {
        right: -80px;
        top: 100px;
        width: 100%;
    }
    .header__burger {
        margin: 0;
    }
    .burger_1, .burger_2, .burger_3 {
        background-color: #000;
        height: 2px;
    }
    /* Social Aside */ 
    .social {
        display: none;
    }

    .item-card {
        overflow: hidden;
    }
    .item__info {
        margin-top: 340px;
        margin-bottom: 15px;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .item_desc {
        display: none;
    }
    .item__prices {
        align-items: center;
    }
    .item__add-btn {
        align-self: center;
        margin-right: 70px;
    }
    .item__image {
        top: -100px;
        right: -100px;
        z-index: 2;
    }
    .item-card::after {
        top: 0;
        right: 0;
        width: 280px;
        height: 320px;
        border-radius: 0px 0px 0px 70px ;
        z-index: 1;
    }
    .item__link {
        display: none;
    }
    .new-arr {
        padding: 35px 60px;
    }
    .new-arr__slider, .new-arr__slider-button {
        display: none;
    }
}